<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Macchina</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="responseMessage"></div>
    <h1>Aggiungi Macchina</h1>

    <form id="addMachineForm">
        {% csrf_token %}
        <!--  tipo di formattazione-->

        {{ form.as_p }}
        <button type="submit">Aggiungi</button>
    </form>
 
    <a href="{% url 'lista_macchine' %}">Torna alla lista macchine</a>

    <script>

        // Quando il documento è pronto (tutto il DOM è caricato)
    
        $(document).ready(function() {
    
            // Aggiungiamo un gestore di eventi per l'invio del form
    
            $('#addMachineForm').on('submit', function(event) { // questo AJAX usa jQuery
    
                
    
                event.preventDefault();
    
    
                // Iniziamo una richiesta AJAX
    
                $.ajax({
    
                    // Indichiamo il tipo di richiesta HTTP (in questo caso POST)
    
                    type: 'POST',
    
                    // Prendiamo l'URL dal form (dove inviare i dati)
    
                    url: $(this).attr('action'),
    
                    // Serializziamo i dati del form per inviarli al server
    
                    data: $(this).serialize(),
    
                    // Funzione da eseguire se la richiesta ha successo
    
                    success: function(response) {
    
                        // Mostriamo un messaggio di successo all'utente
    
                        $('#responseMessage').html('<p>Macchina aggiunta con successo!</p>');
    
                    },
    
                    // Funzione da eseguire se si verifica un errore nella richiesta
    
                    error: function(xhr, status, error) {
    
                        // Mostriamo un messaggio di errore all'utente
    
                        $('#responseMessage').html('<p>Errore: ' + xhr.responseText + '</p>');
    
                    }
    
                });
    
            });
    
        });
    
    </script>
</body>
</html>