{% extends 'gestione/base.html' %}
<!DOCTYPE html>

<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aggiungi Macchina{% endblock %}</title>
    
 
    

</head>

<body>
    {% block content %}
    <div class="container fluid mt-5 no-padding">

        <div id="responseMessage"></div>

        <h1 class="text-center text-dark">Macchina</h1>

        

        <form id="addMachineForm" method="post" class="bg-light p-4 rounded shadow">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-dark">Aggiungi</button>

        </form>

        

        <a href="{% url 'lista_macchine' %}" class="d-block text-center mt-3 text-dark">Torna alla lista delle macchine</a>

    </div>


    <script>
        $(document).ready(function() {
            $('#addMachineForm').on('submit', function(event) {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#responseMessage').html('<div class="alert alert-success">Macchina aggiunta con successo!</div>');
                    },
                    error: function(xhr, status, error) {
                        $('#responseMessage').html('<div class="alert alert-danger">Errore: ' + xhr.responseText + '</div>');
                    }
                });
            });
        });
    </script>
    {% endblock%}

</body>
</html>