{% extends 'gestione/base.html' %}

{% block title %}Dettagli Stabilimento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Dettagli Stabilimento</h1>

    {% if stab %}
        <p><strong>Nome:</strong> {{ stab.nome }}</p>
    {% else %}
        <p>Stabilimento non trovato.</p>
    {% endif %}

    <h2>Macchinari:</h2>
    <table id="tabella_macchinari" class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Codice Macchinario</th>
                <th>Nome Macchinario</th>
            </tr>
        </thead>
        <tbody>
            <!-- La tabella è vuota inizialmente -->
            <tr>
                <td colspan="2" class="text-center">Caricamento...</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script>
    $(document).ready(function() {
        // Inizializza DataTable
        var table = $('#tabella_macchinari').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "order": [[0, "asc"]],
            "columnDefs": [
                {
                    "targets": [0, 1],
                    "orderable": true
                }
            ],
            "processing": true,  // Mostra il loading durante il recupero dei dati
            "serverSide": true,  // Usa il server per ottenere i dati
            "ajax": {
                "url": "{% url 'filtra_stab' stab.nome %}",
                "dataSrc": function (json) {
                    // Verifica che i dati siano disponibili e mappa le righe della tabella
                    if (json.macchinari && json.macchinari.length > 0) {
                        return json.macchinari.map(function(macchinario) {
                            return [
                                macchinario.codiceMacchinario,  
                                macchinario.nome 
                            ];
                        });
                    } else {
                        //  restituisci una riga vuota
                        return [
                            ['Nessun macchinario trovato', '']  // Messaggio di vuoto
                        ];
                    }
                }
            }
        });
    });
</script>


{% endblock %}
