{% extends 'gestione/base.html' %}

{% block title %}Gestione Stabilimenti e Macchinari{% endblock %}

{% block content %}
<div class="container mt-5">

    <div class="container-fluid h-100 d-flex justify-content-end align-items-start mb-3">
        <a href="{% url 'aggiungi_stab' %}" class="btn btn-dark">Aggiungi Stabilimento</a>
        <a href="{% url 'record_work_hours' %}" class="btn btn-dark">Aggiungi Ore Lavorative</a>
        <a href="{% url 'aggiungi_macchina' %}" class="btn btn-dark">Aggiungi Macchina</a>
        <a href="{% url 'admin:index' %}" class="btn btn-dark">Accedi come Admin</a>
    </div>

    <h1 class="mb-4">Gestione Stabilimenti e Macchinari</h1>

    <!-- Tabella degli Stabilimenti -->
    <div class="table-responsive">
        <table id="tabella_stabilimenti" class="table table-striped table-hover" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Numero Macchinari</th>
                </tr>
            </thead>
            <tbody>
                {% for stabilimento in content.stabilimenti_dict %}
                    <tr>
                        <td>
                            <!-- Modifica il link per indirizzare a filtra_stab con id dello stabilimento -->
                            <a href="{% url 'filtra_stab' stabilimento.nome %}" class="btn btn-dark">
                                {{ stabilimento.nome }}
                            </a>
                        </td>
                        <td>{{ stabilimento.numero_macchinari }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" class="alert alert-info">Nessuno stabilimento trovato.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tabella delle Ore Lavorative -->
    <h2>Ore Lavorative</h2>
    <div class="table-responsive">
        <table id="tabella_ore_lavorative" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Ore Lavorate</th>
                    <th>Data Turno</th>
                    <th>Macchinario</th>
                </tr>
            </thead>
            <tbody>
                {% for workhour in content.workhour %}
                    <tr>
                        <td>{{ workhour.employee_name }}</td>
                        <td>{{ workhour.hours_worked }}</td>
                        <td>{{ workhour.date }}</td>
                        <td>{{ workhour.macchinario_turno }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="alert alert-info">Nessun turno trovato.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<!-- Inclusione delle librerie JS necessarie -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script>
    $(document).ready(function() {
        // Inizializzazione della DataTable per la tabella degli stabilimenti
        if (!$.fn.DataTable.isDataTable('#tabella_stabilimenti')) {
            $('#tabella_stabilimenti').DataTable({
                columnDefs: [
                    {
                        targets: 0,
                        visible: true,
                        searchable: true
                    },
                    {
                        targets: 1,
                        visible: true
                    }
                ],
                "order": [[0, "asc"]]
            });
        }

        // Inizializzazione della DataTable per la tabella delle ore lavorative
        if (!$.fn.DataTable.isDataTable('#tabella_ore_lavorative')) {
            $('#tabella_ore_lavorative').DataTable({
                "paging": true,
                columnDefs: [
                    {
                        targets: 0,
                        visible: true,
                        searchable: true
                    },
                    {
                        targets: 1,
                        visible: false
                    }
                ],
                "order": [[0, "asc"]]
            });
        }
    });
</script>

{% endblock %}
