{% extends 'gestione/base.html' %}
<!DOCTYPE html>
<html lang="it">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestione Stabilimenti e Macchinari{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
    
</head>
<body>

    {% block content %}


  


    
    <div class="container mt-5">
        <h1 class="mb-4">Gestione Stabilimenti e Macchinari</h1>

        <h2>Stabilimenti</h2>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th> Descrizione</th>
                </tr>
            </thead>
            <tbody>
                {% for stabilimento in content.stabilimento %}
                <tr>
                    <td>{{ stabilimento.nome }}</td>
                    <td>{{ stabilimento.descrizione }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="1">Nessuno stabilimento trovato.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            
            <a href="{% url 'aggiungi_stab' %}" class="btn btn-dark">Aggiungi Stabilimento</a>
        </div>
           

        <h2>Macchinari</h2>
        <table class="table table-striped table-hover">
            <thead class ="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Stabilimento</th>
                </tr>
            </thead>
            <tbody>
                {% for macchinario in content.macchine %}
                <tr>
                    <td>{{ macchinario.nome }}</td>
                    <td>{{ macchinario.descrizione }}</td>
                    <td>{{ macchinario.stabilimento }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nessun macchinario trovato.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{% url 'aggiungi_macchina' %}" class="btn btn-dark">AggiungiMacchina</a>
        
        </div>
        <h2>Ore lavorative</h2>
        <table class="table table-striped table-hover">
            <thead class = "thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Ore Lavorate</th>
                    <th> Data Turno</th>
                </tr>
            </thead>
            <tbody>
                {% for workhour in content.workhour %}
                <tr>
                    <td>{{ workhour.employee_name }}</td>
                    <td>{{ workhour.hours_worked }}</td>
                    <td>{{ workhour.date }}</td>
                   
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nessun turno trovato.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


  
    </div>
   
    

    <div class="text-center">
            
        <a href="{% url 'record_work_hours' %}" class="btn btn-dark">Aggiungi Ore Lavorative</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Footer -->
    {% endblock %}

    

</body>
</html>