{% extends 'gestione/base.html' %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Lista Stabilimenti</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Lista Stabilimenti</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nome Stab</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for stab in stabilimento %}
                    <tr>
                        <td>{{ stab.nome }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



 
    <div class="text-center">
        <a href="{% url 'aggiungi_stab' %}" class="btn btn-primary">Aggiungi Stabilimento</a>
        <a href="{% url 'home' %}" class="btn btn-success">Torna alla Home</a>
    </div>
{% endblock%}
  
</body>
</html>